<div class="form-group row">

    <label class="col-sm-2 col-form-label">Health condition*</label>
    <div class="col-sm-10">
        <input type="text" name="health-condition-form" class="form-control" [(ngModel)]="health_condition"
        placeholder="Enter Health condidtion name">
        <label class="form-label row error_label" *ngIf="isError()" 
            style="color: red;">{{healthConditionErrors[0]}}</label>
    </div>
</div>

<button (click)="AddHealthCondition()" *ngIf="healthCondition.id==0" class="btn btn-dark">
    Add
</button>

<button (click)="UpdateHealthCondition()" *ngIf="healthCondition.id!=0" class="btn btn-dark">
    Update
</button>
