<div class="form-froup row">
    <label class="col-sm-2 col-form-label">Username*</label>
    <div class="col-sm-10">
        <input type="text" class="form-control  my-1" [(ngModel)]="username" placeholder="Enter username">
        <label class="form-label row error_label" *ngIf="isError(auth.loginError.username)"
            style="color: red;">{{auth.loginError.username[0]}}</label>
    </div>
</div>
<div class="form-froup row">
    <label class="col-sm-2 col-form-label">Password*</label>
    <div class="col-sm-10">
        <input type="password" class="form-control  my-1" [(ngModel)]="password" placeholder="Enter password">
        <label class="form-label row error_label" *ngIf="isError(auth.loginError.password)"
            style="color: red;">{{auth.loginError.password[0]}}</label>
    </div>
</div>

<button (click)="LogIn()" class="btn btn-dark m-2">
    Log in
</button>