<div class="mainDiv">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="">Home</a></li>
            <li class="breadcrumb-item"><a routerLink="/admin">Admin</a></li>
            <li class="breadcrumb-item"><a routerLink="/admin/users">Users</a></li>
            <li class="breadcrumb-item active" aria-current="page">Contusions</li>
        </ol>
    </nav>
    <hr/>
    <app-show-usr-contusion [id]="id"></app-show-usr-contusion>
</div>