<div class="mainDiv">
    <h2>{{name}}, exercises for day {{day}}</h2>
    <hr class="my-2"/>
    <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col my-2" *ngFor="let element of trainingList">
            <div class="card h-200" >
                <div class="card-img-top d-flex flex-row-reverse justify-content-between m-0 pr-2 pl-2 pt-2">
                    <p class="pr-2"><b>Duration: {{element.duration}}</b></p>
                    <p class="pr-2"><b>Repetition: {{element.repetition}}</b></p>
                    <p class="pr-2"><b>Series: {{element.series_number}}</b></p>
                </div> 
                <div class="card-body">
                    <h4 class="card-title pl-2 pr-2 m-0">{{element.exercise}}</h4>
                    <h6 class="p-2">Category: {{element.category}}</h6>
                    <hr/>
                    <p class="card-text p-2">
                        {{element.description}}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>