<div class="form-group row">
    <label class="col-sm-2 col-form-label">Macroelement*</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" [(ngModel)]="macroelement"
        placeholder="Enter macroelement name">
        <p class="form-label row error_label" *ngIf="isError(macroelementErrors.macroelement)" style="color: red;">
            {{macroelementErrors.macroelement[0]}}</p>
    </div>
</div>
<div class="form-group row">
    <label class="col-sm-2 col-form-label">Calories/gram*</label>
    <div class="col-sm-10">
        <input type="number" class="form-control" [(ngModel)]="calories_gram" placeholder="Enter calories per gram of product">
        <p class="form-label row error_label" *ngIf="isError(macroelementErrors.calories_gram)" style="color: red;">
            {{macroelementErrors.calories_gram[0]}}</p>
    </div>
</div>
<button (click)="AddMacroelement()" *ngIf="Macroelement.id==0" class="btn btn-dark">
    Add
</button>

<button (click)="UpdateMacroelement()" *ngIf="Macroelement.id!=0" class="btn btn-dark">
    Update
</button>
