<section>
  <div  *ngIf="!auth.IsLoggedIn()">
    <div class="row row-col-2">
      <div class="col">
        <div class="text-center">
          <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
        </div>
        <mwl-calendar-month-view [viewDate]="viewDate">
        </mwl-calendar-month-view>
      </div>
      <div class="col m-2 text-center justify-content-center  d-flex flex-column align-items-center">
        <h2>Check what today have for you!</h2>
        <p>
          Every day after check your day plan 
          <br/>and get to know your diets and training shcedule!
          <br/>You can also check in our full calendar or add new
          <br/>planned diets or trainings from the list.
          <br/>Please sign-in to see what's waits you today!
          <br/>Or simply sign-up to start you journej!
        </p>
      </div>
    </div>
  </div>


  <div *ngIf="auth.IsLoggedIn() text-central">
    <div class="text-central justify-content-center  d-flex flex-column align-items-center">
      <h3>Check out todays schedule!</h3>
      <a class="nav-link link-dark" routerLink="/calendar">Or see all of your plan on the calendar.</a>
    </div>
    <div class="row row-col-2 m-4">
      <div class="col m-2">
        <div class="text-center">
          <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
        </div>
        <mwl-calendar-month-view [viewDate]="viewDate">
        </mwl-calendar-month-view>
      </div>
      <div class="col m-2 text-center justify-content-center  d-flex flex-column align-items-center">
        <div class="m-2 w-100">
          <table class="table table-striped">
            <thead class="table-dark">
              <tr>
                <td>Todays meals</td>
                <td>Category</td>
                <td>Calories</td>
              </tr>
            </thead>
            <tbody>
              <tr *ngIf="mealsDayList.length <= 0">
                <td colspan="3">No meals to show...</td>
              </tr>
              <tr *ngFor="let item of mealsDayList">
                <td>{{item.meal}}</td>
                <td>{{item.category}}</td>
                <td>{{item.calories}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="m-2 w-100">
          <table class="table table-striped">
            <thead class="table-dark">
              <tr>
                <td>Todays exercise</td>
                <td>Category</td>
                <td>Info</td>
              </tr>
            </thead>
            <tbody>
              <tr *ngIf="exerciseDayList.length <= 0">
                <td colspan="3">No exercise to show...</td>
              </tr>
              <tr *ngFor="let item of exerciseDayList">
                <td>{{item.exercise}}</td>
                <td>{{item.category}}</td>
                <td>
                  Duration: {{item.duration}} <br/>
                  Series n.: {{item.series_number}} <br/>
                  Repetition: {{item.repetition}}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>