<div class="mainDiv">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">User account</li>
        </ol>
    </nav>
    <hr />
    <div class="text-center">
        <div class="col">
            <div>
                <app-account></app-account>
            </div>
            <br>
            <hr/>
            <br>
            <div class="row">
                <div class="col col-md-6"><app-profile-allergies></app-profile-allergies></div>
                
                <div class="col col-md-6"><app-profile-conditions></app-profile-conditions></div>
            </div>
            <div>
                <app-profile-contusions></app-profile-contusions>
            </div>
        </div>
    </div>
</div>