<div class="form-group row" *ngIf="ingredientMeal.ingredient_id==0">
    <label class="col-sm-2 col-form-label">Ingredient</label>
    <div class="col-sm-10">
        <select class="form-control" [(ngModel)]="ingredient_id">
            <option value="">--Select--</option>
            <option *ngFor="let dataItem of ingredientsList" [value]="dataItem.id">{{dataItem.ingredient}}</option>
        </select>
        <label class="form-label row error_label" *ngIf="isError(mealIngredientErrors.ingredient_id)"
            style="color: red;">{{mealIngredientErrors.ingredient_id[0]}}</label>
    </div>
</div>

<div class="form-group row">
    <label class="col-sm-2 col-form-label">Grams </label>
    <div class="col-sm-10">
        <input type="text" class="form-control" [(ngModel)]="grams"
        placeholder="Enter Grams">
        <label class="form-label row error_label" *ngIf="isError(mealIngredientErrors.grams)"
        style="color: red;">{{mealIngredientErrors.grams[0]}}</label>
    </div>
</div>

<button (click)="AddIngredientMeal()" *ngIf="ingredientMeal.ingredient_id==0" class="btn btn-dark">
    Add
</button>

<button (click)="UpdateIngredientMeal()" *ngIf="ingredientMeal.ingredient_id!=0" class="btn btn-dark">
    Update
</button>