<div class="mainDiv">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="">Home</a></li>
            <li class="breadcrumb-item"><a routerLink="/admin">Admin</a></li>
            <li class="breadcrumb-item"><a routerLink="/admin/meals">Ingredients</a></li>
            <li class="breadcrumb-item active" aria-current="page">Ingredients</li>
        </ol>
    </nav>
    <hr />
    <app-show-ingredientmeal [id]="id"></app-show-ingredientmeal>
</div>