<div class="form-froup row">
    <label class="col-sm-2 col-form-label">Grams*</label>
    <div class="col-sm-10">
        <input type="number" class="form-control  my-1" [(ngModel)]="grams" placeholder="Enter grams">
        <label class="form-label row error_label" *ngIf="isError(ingredientMacroErrors.grams)"
            style="color: red;">{{ingredientMacroErrors.grams[0]}}</label>
    </div>
</div>

<div class="form-froup row">
    <label class="col-sm-2 col-form-label">Macronutrient*</label>
    <div class="col-sm-10">
        <select class="form-control my-1" [(ngModel)]="macroelement_id">
            <option value="">--Select--</option>
            <option *ngFor="let item of macronutrientsList" [value]="item.id">{{item.macroelement}}</option>
        </select>
        <label class="form-label row error_label" *ngIf="isError(ingredientMacroErrors.macroelement_id)"
            style="color: red;">{{ingredientMacroErrors.macroelement_id[0]}}</label>
    </div>
</div>

<button (click)="Addingredient()" class="btn btn-dark my-2" *ngIf="ingredientMacro.macroelement_id == 0">
    Add
</button>

<button (click)="UpdateIngredient()" class="btn btn-dark my-2" *ngIf="ingredientMacro.macroelement_id != 0">
    Update
</button>
