<div class="form-froup row">

    <label class="col-sm-2 col-form-label">Meal</label>
    <div class="col-sm-10">
        <select class="form-control m-2" [(ngModel)]="meal_id">
            <option value="">--Select--</option>
            <option *ngFor="let dataItem of mealsList" [value]="dataItem.id">{{dataItem.meal}}</option>
        </select>
        <p class="form-label row error_label" *ngIf="isError(dietMealErrors.meal_id)" 
        style="color: red;">{{dietMealErrors.meal_id[0]}}</p>
    </div>
</div>

<div class="form-froup row">

    <label class="col-sm-2 col-form-label">Day number</label>
    <div class="col-sm-10">
        <input type="number" class="form-control m-2" [(ngModel)]="day" placeholder="Enter day">
        <p class="form-label row error_label" *ngIf="isError(dietMealErrors.day)" 
        style="color: red;">{{dietMealErrors.day[0]}}</p>
    </div>
</div>


<button (click)="AddDietMeal()" class="btn btn-dark">
    Add
</button>
    