<div class="form-froup row" *ngIf="contusion.contusion_id == 0">
    <label class="col-sm-2 col-form-label">Contusion type*</label>
    <div class="col-sm-10">
        <select class="form-control my-1" [(ngModel)]="contusion_id">
            <option value="">--Select--</option>
            <option *ngFor="let item of contusionsList" [value]="item.id">{{item.contusion}}</option>
        </select>
        <label class="form-label row error_label" *ngIf="isError(userContusionErrors.contusion_id)"
            style="color: red;">{{userContusionErrors.contusion_id[0]}}</label>
    </div>
</div>

<div class="form-froup row" *ngIf="contusion.contusion_id == 0">
    <label class="col-sm-2 col-form-label">Body part*</label>
    <div class="col-sm-10">
        <select class="form-control my-1" [(ngModel)]="body_part_id">
            <option value="">--Select--</option>
            <option *ngFor="let dataItem of bodyPartsList" [value]="dataItem.id">{{dataItem.body_part}}</option>
        </select>
        <label class="form-label row error_label" *ngIf="isError(userContusionErrors.body_part_id)"
            style="color: red;">{{userContusionErrors.body_part_id[0]}}</label>
    </div>
</div>

<div class="form-froup row">
    <label class="col-sm-2 col-form-label">Date of contusion*</label>
    <div class="col-sm-10">
        <input type="date" class="form-control my-1" [(ngModel)]="contusion_date">
        <label class="form-label row error_label" *ngIf="isError(userContusionErrors.contusion_date)"
            style="color: red;">{{userContusionErrors.contusion_date[0]}}</label>
    </div>
</div>

<div class="form-froup row">
    <label class="col-sm-2 col-form-label">Description</label>
    <div class="col-sm-10">
        <label class="form-label row error_label" *ngIf="isError(userContusionErrors.description)"
            style="color: red;">{{userContusionErrors.description[0]}}</label>
        <textarea class="form-control my-1" [(ngModel)]="description" placeholder="Enter description"></textarea>
    </div>
</div>

<button (click)="AddContusion()" *ngIf="contusion.contusion_id == 0" class="btn btn-dark my-2">
    Add
</button>

<button (click)="UpdateContusion()" *ngIf="contusion.contusion_id != 0" class="btn btn-dark my-2">
    Update
</button>