<div class="upper" id="back_hero">
    <app-content-component-up></app-content-component-up>
</div>
<div class="m-3">
    <app-content-component-down></app-content-component-down>
</div>
<div class="bg-light upper" id="back_lower">
    <app-content-component-lower></app-content-component-lower>
</div>