<div class="form-group row">
    <label class="col-sm-2 col-form-label">Ingredient*</label>
    <div class="col-sm-10">
        <input type="text" class="form-control  my-1" [(ngModel)]="ingredient" placeholder="Enter ingredient name">
        <label class="form-label row error_label" *ngIf="isError(ingredientErrors.ingredient)"
            style="color: red;">{{ingredientErrors.ingredient[0]}}</label>
    </div>
</div>

<div class="form-froup row">
    <label class="col-sm-2 col-form-label">Can cause allergies*</label>
    <div class="col-sm-10">
        <select class="form-control my-1" [(ngModel)]="is_alergenic">
            <option value="">--Select--</option>
            <option value="1">Yes</option>
            <option value="0">No</option>
        </select>
        <label class="form-label row error_label" *ngIf="isError(ingredientErrors.is_alergenic)"
            style="color: red;">{{ingredientErrors.is_alergenic[0]}}</label>
    </div>
</div>

<button (click)="AddIngredient()" class="btn btn-dark my-2" *ngIf="Ingredient.id == 0">
    Add
</button>

<button (click)="UpdateIngredient()" class="btn btn-dark my-2" *ngIf="Ingredient.id != 0">
    Update
</button>

