<div class="form-group row">

    <label class="col-sm-2 col-form-label">Contusion*</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" [(ngModel)]="contusion"
        placeholder="Enter contusion name">
        <p class="form-label row error_label" *ngIf="isError()" style="color: red;">{{contusionErrorList[0]}}</p>
    </div>
</div>

<button (click)="AddContusion()" *ngIf="Contusion.id==0" class="btn btn-dark">
    Add
</button>

<button (click)="UpdateContusion()" *ngIf="Contusion.id!=0" class="btn btn-dark">
    Update
</button>