<div class="form-group row">
    <label class="col-sm-2 col-form-label">Category*</label>
    <div class="col-sm-10">
        <select class="form-control" [(ngModel)]="meal_category_id">
            <option value="">--Select--</option>
            <option *ngFor="let item of categoriesList" [value]="item.id">{{item.category}}</option>
        </select>
        <p class="form-label row error_label" *ngIf="isError(mealsErrors.meal_category_id)" style="color: red;">
            {{mealsErrors.meal_category_id[0]}}</p>
    </div>
</div>
<div class="form-group row">
    <label class="col-sm-2 col-form-label">Meal*</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" [(ngModel)]="meal" placeholder="Enter meal name">
        <p class="form-label row error_label" *ngIf="isError(mealsErrors.meal)" style="color: red;">
            {{mealsErrors.meal[0]}}</p>
    </div>
</div>
<div class="form-group row">
    <label class="col-sm-2 col-form-label">Description*</label>
    <div class="col-sm-10">
        <p class="form-label row error_label" *ngIf="isError(mealsErrors.description)" style="color: red;">
            {{mealsErrors.description[0]}}</p>
        <textarea type="text" class="form-control" [(ngModel)]="description" placeholder="Enter description"></textarea>
    </div>
</div>

<button (click)="AddMeal()" *ngIf="Meal.id==0" class="btn btn-dark">
    Add
</button>

<button (click)="UpdateMeal()" *ngIf="Meal.id!=0" class="btn btn-dark">
    Update
</button>
