<div *ngIf="user">
    <div class="form-froup row">
        <label class="col-sm-2 col-form-label">Username*</label>
        <div class="col-sm-10">
            <input type="text" class="form-control  my-1" [(ngModel)]="user.username" placeholder="Enter username">
            <p class="form-label row error_label" *ngIf="isError(accountErrors.username)" style="color: red;">
                {{accountErrors.username[0]}}</p>
        </div>
    </div>
    <div class="form-froup row" *ngIf="changePass">
        <label class="col-sm-2 col-form-label">Password*</label>
        <div class="col-sm-10">
            <input type="password" class="form-control  my-1" [(ngModel)]="user.password" placeholder="Enter new password">
            <p class="form-label row error_label" *ngIf="isError(accountErrors.password)" style="color: red;">
                {{accountErrors.password[0]}}</p>
            <input type="password" class="form-control  my-1" [(ngModel)]="repeatPass"
                placeholder="Please repeat the password">
            <p class="form-label row error_label" *ngIf="isError(accountErrors.password)" style="color: red;">
                {{accountErrors.password[0]}}</p>
        </div>
    </div>

    <br />

    <div class="form-froup row">
        <label class="col-sm-2 col-form-label">Name*</label>
        <div class="col-sm-10">
            <input type="text" class="form-control  my-1" [(ngModel)]="user.name" placeholder="Enter person name">
            <p class="form-label row error_label" *ngIf="isError(accountErrors.name)" style="color: red;">{{accountErrors.name[0]}}</p>
        </div>
    </div>
    <div class="form-froup row">
        <label class="col-sm-2 col-form-label">Surname*</label>
        <div class="col-sm-10">
            <input type="text" class="form-control my-1" [(ngModel)]="user.surname" placeholder="Enter person surname">
            <p class="form-label row error_label" *ngIf="isError(accountErrors.surname)" 
            style="color: red;">{{accountErrors.surname[0]}}</p>
        </div>
    </div>
    
    <div class="form-froup row">
        <label class="col-sm-2 col-form-label">Birth date*</label>
        <div class="col-sm-10">
            <input type="date" class="form-control my-1" [(ngModel)]="user.birth_date" placeholder="yyyy-mm-dd">
            <p class="form-label row error_label" *ngIf="isError(accountErrors.birth_date)" style="color: red;">
                {{accountErrors.birth_date[0]}}</p>
        </div>
        <label class="col-sm-2 col-form-label">Sex*</label>
        <div class="col-sm-10">
            <select class="form-control my-1" [(ngModel)]="user.sex">
                <option value="">--Select--</option>
                <option>M</option>
                <option>F</option>
            </select>
            <p class="form-label row error_label" *ngIf="isError(accountErrors.sex)"
                style="color: red;">{{accountErrors.sex[0]}}</p>
        </div>
    </div>
    
    <div class="form-froup row">
        <label class="col-sm-2 col-form-label">Email*</label>
        <div class="col-sm-10">
            <input type="email" class="form-control my-1" [(ngModel)]="user.email" placeholder="Enter email address">
            <p class="form-label row error_label" *ngIf="isError(accountErrors.email)" style="color: red;">{{accountErrors.email[0]}}</p>
        </div>
    </div>
    
    <div class="form-froup row">
        <label class="col-sm-2 col-form-label">Phone</label>
        <div class="col-sm-10">
            <input type="tel" class="form-control my-1" [(ngModel)]="user.phone" placeholder="Enter phone number">
            <p class="form-label row error_label" *ngIf="isError(accountErrors.phone)" style="color: red;">{{accountErrors.phone[0]}}</p>
        </div>
    </div>

    <button (click)="UpdateUser(user)" class="btn btn-dark m-2">
        Update
    </button>

    <button type="button" class="btn btn-dark m-2" data-toggle="modal" data-target="#passModal"
        (click)="ChangePassClick()" data-backdrop="static" data-keyboard="false">
        Change password
    </button>
</div>