<div class="form-group row" *ngIf="user.person_id!=0">
    <label class="col-sm-2 col-form-label">Username*</label>
    <div class="col-sm-10">
        <input type="text" class="form-control  my-1" [(ngModel)]="username" placeholder="Enter username">
        <p class="form-label row error_label" *ngIf="isError(userErrors.username)"
            style="color: red;">{{userErrors.username[0]}}</p>
    </div>
</div>
<div class="form-group row" *ngIf="user.person_id==0">
    <label class="col-sm-2 col-form-label">Password*</label>
    <div class="col-sm-10">
        <input type="password" class="form-control  my-1" [(ngModel)]="password" placeholder="Enter password">
        <p class="form-label row error_label" *ngIf="isError(userErrors.password)"
            style="color: red;">{{userErrors.password[0]}}</p>
        <input type="password" class="form-control  my-1" [(ngModel)]="repeatPass" placeholder="Please repeat the password">
        <p class="form-label row error_label" *ngIf="isError(userErrors.repeatPass)"
            style="color: red;">{{userErrors.repeatPass[0]}}</p>
    </div>
</div>

<div class="form-group row">
    <label class="col-sm-2 col-form-label">Authorization*</label>
    <div class="col-sm-10">
        <select class="form-control" [(ngModel)]="authorization_id" >
            <option value="">--Select--</option>
            <option *ngFor="let auth of authorizationsList" [value]="auth.id">
                {{auth.authorization}}
            </option>
        </select>
        <p class="form-label row error_label" *ngIf="isError(userErrors.authorization_id)"
            style="color: red;">{{userErrors.authorization_id[0]}}</p>
    </div>
</div>

<br/>

<div class="form-group row">
    <label class="col-sm-2 col-form-label">Name*</label>
    <div class="col-sm-10">
        <input type="text" class="form-control  my-1" [(ngModel)]="name" placeholder="Enter person name">
        <p class="form-label row error_label" *ngIf="isError(userErrors.name)"
            style="color: red;">{{userErrors.name[0]}}</p>
    </div>
</div>
<div class="form-group row">
    <label class="col-sm-2 col-form-label">Surname*</label>
    <div class="col-sm-10">
        <input type="text" class="form-control my-1" [(ngModel)]="surname" placeholder="Enter person surname">
        <p class="form-label row error_label" *ngIf="isError(userErrors.surname)"
            style="color: red;">{{userErrors.surname[0]}}</p>
    </div>
</div>

<div class="form-group row">
    <label class="col-sm-2 col-form-label">Birth date*</label>
    <div class="col-sm-10">
        <input type="date" class="form-control my-1" [(ngModel)]="birth_date" placeholder="yyyy-mm-dd">
        <p class="form-label row error_label" *ngIf="isError(userErrors.birth_date)"
            style="color: red;">{{userErrors.birth_date[0]}}</p>
    </div>
    <label class="col-sm-2 col-form-label">Sex*</label>
    <div class="col-sm-10">
        <select class="form-control my-1" [(ngModel)]="sex">
            <option value="">--Select--</option>
            <option>M</option>
            <option>F</option>
        </select>
        <p class="form-label row error_label" *ngIf="isError(userErrors.sex)"
            style="color: red;">{{userErrors.sex[0]}}</p>
    </div>
</div>

<div class="form-group row">
    <label class="col-sm-2 col-form-label">Email*</label>
    <div class="col-sm-10">
        <input type="email" class="form-control my-1" [(ngModel)]="email" placeholder="Enter email address">
        <p class="form-label row error_label" *ngIf="isError(userErrors.email)"
            style="color: red;">{{userErrors.email[0]}}</p>
    </div>
</div>

<div class="form-group row">
    <label class="col-sm-2 col-form-label">Phone</label>
    <div class="col-sm-10">
        <input type="tel" class="form-control my-1" [(ngModel)]="phone" placeholder="Enter phone number">
        <p class="form-label row error_label" *ngIf="isError(userErrors.phone)"
            style="color: red;">{{userErrors.phone[0]}}</p>
    </div>
</div>


<button (click)="AddUser()" *ngIf="user.person_id == 0" class="btn btn-dark my-2">
    Add
</button>

<button (click)="UpdateUser()" *ngIf="user.person_id != 0" class="btn btn-dark my-2">
    Update
</button>
