
<div class="form-group row" *ngIf="trainingPlan.id==0">
    <label class="col-sm-2 col-form-label">Training*</label>
    <div class="col-sm-10">
        <select class="form-control" [(ngModel)]="training_id">
            <option value="">--Select--</option>
            <option *ngFor="let training of trainingsList" [value]="training.id">{{training.training}}</option>
        </select>
        <p class="form-label row error_label" *ngIf="isError(planTrainingErrors.training_id)" style="color: red;">
            {{planTrainingErrors.training_id[0]}}</p>
    </div>
</div>
<div class="form-group row" *ngIf="trainingPlan.id==0">
    <label class="col-sm-2 col-form-label">User*</label>
    <div class="col-sm-10">
        <select class="form-control" [(ngModel)]="app_user_id">
            <option value="">--Select--</option>
            <option *ngFor="let user of usersList" [value]="user.person_id">{{user.username}}</option>
        </select>
        <p class="form-label row error_label" *ngIf="isError(planTrainingErrors.app_user_id)" style="color: red;">
            {{planTrainingErrors.app_user_id[0]}}</p>
    </div>
</div>
<div class="form-group row">
    <label class="col-sm-2 col-form-label">Start date*</label>
    <div class="col-sm-10">
        <input type="date" class="form-control" [(ngModel)]="date_from" placeholder="Enter begining date">
        <p class="form-label row error_label" *ngIf="isError(planTrainingErrors.date_from)" style="color: red;">
            {{planTrainingErrors.date_from[0]}}</p>
    </div>
</div>

<button (click)="AddTrainingPlan()" *ngIf="trainingPlan.id==0" class="btn btn-dark">
    Add
</button>

<button (click)="UpdateTrainingPlan()" *ngIf="trainingPlan.id!=0" class="btn btn-dark">
    Update
</button>