<div class="mainDiv">
    <h2>{{name}}, meals for day {{day}}</h2>
    <hr class="my-2" />
    <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col my-2" *ngFor="let element of mealsList">
            <div class="card h-200">
                <div class="card-img-top d-flex flex-row-reverse justify-content-between m-0 pr-2 pl-2 pt-2">
                    <p class="pr-2"><b>Category: {{element.category}}</b></p>
                    <p class="pr-2"><b>Calories: {{element.calories}}</b></p>
                </div>
                <div class="card-body">
                    <h4 class="card-title pl-2 pr-2 m-0">{{element.meal}}</h4>
                    <hr/>
                    <div class="card-text p-2">
                        <div class="row row-cols-2">
                            <div class="col">
                                <h6>Ingredients</h6>
                                <ul class="list-unstyled">
                                    <li *ngFor="let i of element['ingredients']">
                                        - {{i.ingredient}} {{i.grams}}g.
                                    </li>
                                </ul>
                            </div>
                            <div class="col">
                                <h6>Nutrients</h6>
                                <ul class="list-unstyled">
                                    <li *ngFor="let mm of element['nutrients']">
                                        - {{mm.element}} {{mm.grams}}g.
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <hr/>
                        <p> {{element.description}} </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>