<div *ngIf="isDiet" class="mainDiv">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="">Home</a></li>
            <li class="breadcrumb-item"><a routerLink="/calendar">Calendar</a></li>
            <li class="breadcrumb-item active" aria-current="page">Diet meals</li>
        </ol>
    </nav>
    <hr/>
    <app-diet-view [dietData]="objectData"></app-diet-view>
</div>

<div *ngIf="isTraining" class="mainDiv">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="">Home</a></li>
            <li class="breadcrumb-item"><a routerLink="/calendar">Calendar</a></li>
            <li class="breadcrumb-item active" aria-current="page">Training exercises</li>
        </ol>
    </nav>
    <hr />
    <app-training-view [trainingData]="objectData"></app-training-view>
</div>