<div class="mainDiv">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page" *ngIf="!auth.IsAdmin()">Managment</li>
      <li class="breadcrumb-item active" aria-current="page" *ngIf="auth.IsAdmin()">Admin</li>
    </ol>
  </nav>
  <hr/>
  <table class="table" *ngIf="auth.IsAdmin()">
    <thead class="thead-dark bg dark">
      <tr>
        <th scope="col">Users</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><a class="link"  routerLink="users">Users</a></td>
      </tr>
      <tr>
        <td><a class="link"  routerLink="authorizations">Authorizations</a></td>
      </tr>
      <tr>
        <td><a class="link" routerLink="dietPlans">Diet plan</a></td>
      </tr>
      <tr>
        <td><a class="link" routerLink="trainingPlans">Training plan</a></td>
      </tr>
    </tbody>
  </table>

  <table *ngIf="CanViewTrainings()" class="table">
    <thead class="thead-dark bg-dark">
      <tr>
        <th scope="col">Trainings</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><a class="link"  routerLink="trainingCategories">Training Categories</a></td>
      </tr>
      <tr>
        <td><a class="link"  routerLink="trainings">Trainings</a></td>
      </tr>
      <tr>
        <td><a class="link"  routerLink="exerciseCategories">Exercise Categories</a></td>
      </tr>
      <tr>
        <td><a class="link"  routerLink="exercises">Exercises</a></td>
      </tr>
    </tbody>
  </table>

  <table *ngIf="CanViewDiets()" class="table">
    <thead class="thead-dark bg-dark">
      <tr>
        <th scope="col">Diets</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><a class="link"  routerLink="dietCategories">Diet categories</a></td>
      </tr>
      <tr>
        <td><a class="link"  routerLink="diets">Diets</a></td>
      </tr>
      <tr>
        <td><a class="link"  routerLink="meals">Meals</a></td>
      </tr>
      <tr>
        <td><a class="link"  routerLink="ingredients">Ingredients</a></td>
      </tr>
      <tr>
        <td><a class="link"  routerLink="macroelements">Macro Nutrients</a></td>
      </tr>
      <tr>
        <td><a class="link"  routerLink="microelements">Micro Nutrients</a></td>
      </tr>
      <tr>
        <td><a class="link"  routerLink="mealCategories">Meal category</a></td>
      </tr>
    </tbody>
  </table>

  <table *ngIf="auth.IsAdmin()" class="table">
    <thead class="thead-dark bg-dark">
      <tr>
        <th scope="col">Health</th>
      </tr>
    </thead>
    <tbody>
        <tr>
          <td><a class="link"  routerLink="contusions">Contusions</a></td>
        </tr>
        <tr>
          <td><a class="link"  routerLink="bodyParts">Body parts</a></td>
        </tr>
        <tr>
          <td><a class="link"  routerLink="healthConditions">Health conditions</a></td>
        </tr>
    </tbody>
  </table>
</div>