<section class="py-3 text-center text-white">
  <div class="m-3">
    <h1>Fit App</h1>
    <h3>For people who wants to keep themselfs fit and healthy</h3>
  </div>
  <div class="row row-cols-2 text-center mt-4">
    <div class="col mt-2">
      <h2>Diets</h2>
      <h5>Eat what is good for you</h5>
      <p>A healthy diet composed to your needs is one of the most important thing to stay healthy.
      <br/>Take care of your body and mind with a health and rich diet.
      <br/>"we are what we eat", start your journej to a better self here!</p>
      <a class="btn btn-dark" *ngIf="auth.IsLoggedIn()" routerLink="/dietList">Start your journey here</a>
    </div>
    <div class="col mt-2">
      <h2>Training</h2>
      <h5>Trainig is best way to take care of your self</h5>
      <p>Relieve stress and stretch your muscles, having a healthy lifestile is not only good diet.
      <br>From focused trainings to yoga and stretching, find your way to stay healthy.
      <br>Our body are made to move, check out what move are best for you!</p>
      <a class="btn btn-dark" *ngIf="auth.IsLoggedIn()" routerLink="/trainingList">Start your journey here</a>
    </div>
  </div>
</section>