<div class="mainDiv">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Calendar</li>
        </ol>
    </nav>
    <hr/>
    <div class="row text-center">
        <div class="col-md-4">
            <div class="btn-group">
                <div class="btn btn-dark" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate">
                    &lt;
                </div>
                <div class="btn btn-dark" mwlCalendarToday [(viewDate)]="viewDate">
                    Today
                </div>
                <div class="btn btn-dark" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate">
                    &gt;
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
        </div>
    </div>

    <mwl-calendar-month-view [viewDate]="viewDate" [refresh]="refresh" 
        [events]="events" [activeDayIsOpen]="activeDayIsOpen" 
        (dayClicked)="dayClicked($event.day)" (eventClicked)="eventClicked($event)">
    </mwl-calendar-month-view>
    
</div>