<div class="form-group row m-2">

    <label class="col-sm-2 col-form-label">Body part*</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" [(ngModel)]="body_part"
        placeholder="Enter Body Part name">
        <p class="form-label row error_label" *ngIf="isError()" style="color: red;">{{bodyPartErrorList[0]}}</p>
    </div>
</div>

<button (click)="AddBodyPart()" *ngIf="BodyPart.id == 0" class="btn btn-dark m-2">
    Add
</button>

<button (click)="UpdateBodyPart()" *ngIf="BodyPart.id != 0" class="btn btn-dark m-2">
    Update
</button>
