<div class="mainDiv">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="">Home</a></li>
            <li class="breadcrumb-item"><a routerLink="/admin">Admin</a></li>
            <li class="breadcrumb-item active" aria-current="page">Micronutrients</li>
        </ol>
    </nav>
    <hr />
    <app-show-microelement></app-show-microelement>
</div>