<div class="form-group row">

    <label class="col-sm-2 col-form-label">Category*</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" [(ngModel)]="category"
        placeholder="Enter category name">
        <p class="form-label row error_label" *ngIf="isError()" style="color: red;">
            {{mealCategoryErrors[0]}}</p>
    </div>
</div>

<button (click)="AddMealCategory()" *ngIf="mealCategory.id==0" class="btn btn-dark">
    Add
</button>

<button (click)="UpdateMealCategory()" *ngIf="mealCategory.id!=0" class="btn btn-dark">
    Update
</button>
