<section>
    <div class="text-central p-4">
        <div class="text-white justify-content-center  d-flex flex-column align-items-center m-3">
            <h2 *ngIf="auth.IsLoggedIn()">Check what other users like mosts!</h2>
            <h2 *ngIf="!auth.IsLoggedIn()">Check what our users like mosts!</h2>
        </div>
        <div class="row row-col-2 m-2 p-2">
            <div class="col">
                <div class="my-1">
                    <div class="card h-100">
                        <div class="card-img-top d-flex flex-row justify-content-between m-0 pr-2 pl-2 pt-2">
                            <a class="btn btn-dark m-1" routerLink="/dietList">
                                Search it on the list!
                            </a>
                            <p class="pr-2"><b>Diet duration: {{dietList[0].duration}} days</b></p>
                        </div>
                        <div class="card-body">
                            <h4 class="card-title pl-2 pr-2 m-0">{{dietList[0].diet}}</h4>
                            <h6 class="p-2">Category: {{dietList[0].category}}</h6>
                            <hr />
                            <p class="card-text p-2">
                                {{dietList[0].description}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="m-1">
                    <div class="card h-100">
                        <div class="card-img-top d-flex flex-row justify-content-between m-0 pr-2 pl-2 pt-2">
                            <a class="btn btn-dark m-1" routerLink="/trainingList">
                                Search it on the list!
                            </a>
                            <p class="pr-2 allign-self-end"><b>Training duration: {{trainingsList[0].duration}} days</b></p>
                        </div>
                        <div class="card-body">
                            <h4 class="card-title pl-2 pr-2 m-0">{{trainingsList[0].training}}</h4>
                            <h6 class="p-2">Category: {{trainingsList[0].category}}</h6>
                            <hr />
                            <p class="card-text p-2">
                                {{trainingsList[0].description}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
