<div class="form-group row">

    <label class="col-sm-2 col-form-label">Micronutrient*</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" [(ngModel)]="microelement"
        placeholder="Enter microelement name">
        <p class="form-label row error_label" *ngIf="isError()" style="color: red;">
            {{microelementsErrors[0]}}</p>
    </div>
</div>

<button (click)="AddMicroelement()" *ngIf="Microelement.id==0" class="btn btn-dark">
    Add
</button>

<button (click)="UpdateMicroelement()" *ngIf="Microelement.id!=0" class="btn btn-dark">
    Update
</button>
