
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{modalTitle}}</h5>
                <button type="button" class="close" id="modalDismissProfileAllergies" data-dismiss="modal" aria-label="Close" (click)="CloseClick()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <app-add-edit-allergies [allergy]="allergy" *ngIf="activateAddEditAllergies"
                (successForm)="SuccessForm($event)"></app-add-edit-allergies>
            </div>
        </div>
    </div>
</div>


<table class="table table-striped">
    <thead class="table-dark">
        <tr>
            <td>
                <button type="button" class="btn btn-dark float_left" data-toggle="collapse" data-target="#tab-allergies">
                    My Allergies
                </button>
            </td>
            <td>
                <button type="button" class="btn btn-dark float_left" data-toggle="modal" data-target="#exampleModal"
                    (click)="AddClick()" data-backdrop="static" data-keyboard="false">
                    Add allergy
                </button>
            </td>
        </tr>
    </thead>
    <tbody id="tab-allergies" class="collapse show">
        <tr *ngFor="let allergy of allergiesList">
            <td>{{GetAllergyName(allergy)}}</td>
            <td>
                <button type="button" class="btn btn-light mr-1" (click)="DeleteClick(allergy)" data-backdrop="static"
                    data-keyboard="false">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-x-circle-fill" viewBox="0 0 16 16">
                        <path
                            d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z" />
                    </svg>
                </button>
            </td>
        </tr>
    </tbody>
</table>
