<div class="form-group row">
    <label class="col-sm-2 col-form-label">Category*</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" [(ngModel)]="category"
        placeholder="Enter diet category">
        <p class="form-label row error_label" *ngIf="isError()" 
            style="color: red;">{{dietCategoryErrors[0]}}</p>
    </div>
</div>

<button (click)="AddDietCategory()" *ngIf="dietCategory.id==0" class="btn btn-dark">
    Add
</button>
<button (click)="UpdateDietCategory()" *ngIf="dietCategory.id!=0" class="btn btn-dark">
    Update
</button>