<div class="form-froup row" *ngIf="trainingExercise.exercise_id==0">
    
    <label class="col-sm-2 col-form-label" >Exercise*</label>
    <div class="col-sm-10">
        <select class="form-control m-1" [(ngModel)]="exercise_id">
            <option value="">--Select--</option>
            <option *ngFor="let dataItem of exercisesList" [value]="dataItem.id">{{dataItem.exercise}}</option>
        </select>
        <label class="form-label row error_label" *ngIf="isError(trainingExcerciseErrors.exercise_id)"
            style="color: red;">{{trainingExcerciseErrors.exercise_id[0]}}</label>
    </div>
</div>

<div class="form-froup row">
    <label class="col-sm-2 col-form-label">Day*</label>
    <div class="col-sm-10">
        <input type="number" class="form-control m-1" [(ngModel)]="day"
        placeholder="Enter day">
        <label class="form-label row error_label" *ngIf="isError(trainingExcerciseErrors.day)"
            style="color: red;">{{trainingExcerciseErrors.day[0]}}</label>
    </div>
</div>
<div class="form-froup row">
    <label class="col-sm-2 col-form-label">Series number*</label>
    <div class="col-sm-10">
        <input type="number" class="form-control m-1" [(ngModel)]="series_number"
        placeholder="Enter series number">
        <label class="form-label row error_label" *ngIf="isError(trainingExcerciseErrors.series_number)"
            style="color: red;">{{trainingExcerciseErrors.series_number[0]}}</label>
    </div>
</div>

<div class="form-froup row">
    <label class="col-sm-2 col-form-label">Repetition*</label>
    <div class="col-sm-10">
        <input type="number" class="form-control m-1" [(ngModel)]="repetition"
        placeholder="Enter repetition">
        <label class="form-label row error_label" *ngIf="isError(trainingExcerciseErrors.repetition)"
            style="color: red;">{{trainingExcerciseErrors.repetition[0]}}</label>
    </div>
</div>

<button (click)="AddTrainingExercise()" *ngIf="trainingExercise.exercise_id==0" class="btn btn-dark">
    Add
</button>

<button (click)="UpdateTrainingExercise()" *ngIf="trainingExercise.exercise_id!=0" class="btn btn-dark">
    Update
</button>