<!-- Button trigger modal -->
<button type="button" class="btn btn-dark float-right m-2" data-toggle="modal" data-target="#exampleModal"
    (click)="AddClick()" data-backdrop="static" data-keyboard="false">
    Add Authorization
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{modalTitle}}</h5>
                <button type="button" class="close" id="dismissModalAuth" data-dismiss="modal" aria-label="Close" (click)="CloseClick()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <app-add-authorization [Authorization]="Authorization" *ngIf="activateAddEditAuthorization"
                (successForm)="SuccessForm($event)"></app-add-authorization>
            </div>
        </div>
    </div>
</div>

<table class="table table-striped">
    <thead class="table-dark">
        <tr>
            <th>Authorization</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let dataItem of authorizationsList">
            <td>{{dataItem.authorization}}</td>
        </tr>
    </tbody>
</table>
