  <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl" role="document" >
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{modalTitle}}</h5>
        <button type="button" class="close" id="modalDismissAddTraining" data-dismiss="modal" aria-label="Close" (click)="CloseClick()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <app-add-to [trainingPlan]="trainingPlan"
          *ngIf="activateAddEditTraining" (successForm)="SuccessForm($event)"></app-add-to>
      </div>
    </div>
  </div>
</div>

<div class="mainDiv">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Trainings</li>
    </ol>
  </nav>
  <hr />

  <div class="row mt-3 m-1" *ngIf="auth.IsLoggedIn()">
    <div class="form-check col-3 m-1">
      <input class="form-check-input" type="checkbox" [(ngModel)]="contusionFilter"
        (ngModelChange)="FilterByContusion()" />
      <label class="form-check-label" for="flexCheckChecked">
        Filtered by user contusions
      </label>
    </div>
  </div>

  <div class="row row-cols-4 m-1">
    <input [(ngModel)]="trainingFilter" class="form-control col m-1" (keyup)="FilterByText()" placeholder="Search by text...">
    <select class="form-control col my-1" [(ngModel)]="categoryFilter" (ngModelChange)="FilertByCategory()">
      <option value="">--Search by category--</option>
      <option *ngFor="let item of categoriesList" [value]="item.category">
        {{item.category}}
      </option>
    </select>
    <input [(ngModel)]="durationFilter" class="form-control col m-1" (keyup)="FilterByDuration()"
      placeholder="Search by days duration...">
  </div>

  <h2 class="mt-4">Start by choosing a training... </h2>

  <hr class="m-2"/>

  <div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col my-2" *ngFor="let element of trainingsList">
      <div class="card h-200">
        <div class="card-img-top d-flex flex-row justify-content-between m-0 pr-2 pl-2 pt-2">
          <div class="row row-col-2 m-1">
            <button type="button" class="col btn btn-dark float-right m-1" data-toggle="modal" data-target="#exampleModal"
              (click)="AddToCalendar(element)" data-backdrop="static" data-keyboard="false" *ngIf="auth.IsLoggedIn()">
              Add to calendar
            </button>
            <button type="button" class="col btn btn-dark m-1" (click)="Show(element)">
              Show me more!
            </button>
          </div>
          <p class="pr-2 allign-self-end"><b>Duration: {{element.duration}} days</b></p>
        </div>
        <div class="card-body">
          <h4 class="card-title pl-2 pr-2 m-0">{{element.training}}</h4>
          <h6 class="p-2">Category: {{GetCategoryName(element)}}</h6>
          <hr />
          <p class="card-text p-2">
            {{element.description}}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
