<div class="form-froup row">

    <label class="col-sm-2 col-form-label">Diet Category Name</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" [(ngModel)]="category"
        placeholder="Enter Diet Category Name">
    </div>

    <button (click)="addDietCategory()" *ngIf="dietCat.id==0" class="btn btn-primary">
        Add
    </button>
    <button (click)="updateDietCategory()" *ngIf="dietCat.id!=0" class="btn btn-primary">
        Update
    </button>