<div class="form-group row">
    <label class="col-sm-2 col-form-label">Password*</label>
    <div class="col-sm-10">
        <input type="text" class="form-control  my-1" [(ngModel)]="password" placeholder="Enter new password">
        <label class="form-label row error_label" *ngIf="isError()" style="color: red;">{{changePassErrors[0]}}</label>
        <input type="password" class="form-control  my-1" [(ngModel)]="repeatPass" placeholder="Please repeat the password">
        <label class="form-label row error_label" *ngIf="isError()" style="color: red;">{{changePassErrors[0]}}</label>
    </div>
</div>

<button (click)="ChangePassword()" class="btn btn-dark my-2">
    Change password
</button>
