<!-- Modal -->
<div class="modal fade" id="logModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{modalTitle}}</h5>
                <button type="button"  id="modalDimissLogSignIn" class="close" data-dismiss="modal" aria-label="Close" (click)="CloseClick()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <app-login *ngIf="activateLogin" (successForm)="SuccessForm($event)"></app-login>
                <app-register *ngIf="activateRegister" (successForm)="SuccessForm($event)"></app-register>
            </div>
        </div>
    </div>
</div>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Fit App</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/dietList">Diets</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/trainingList">Training</a>
            </li>
            <li class="nav-item" *ngIf="auth.IsLoggedIn()">
                <a class="nav-link" routerLink="/calendar">Calendar</a>
            </li>
            <li class="nav-item" *ngIf="auth.IsAdmin()">
                <a class="nav-link " routerLink="/admin">Admin</a>
            </li>
        </ul>
        <div class="nav-item dropdown" id="drop-account">
            <a class="dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                <img class="image_nav" src="../../assets/Images/anonymous.png" width="5%" height="5%">
            </a>
            <div *ngIf="auth.IsLoggedIn()" class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a *ngIf="auth.CanManage()" class="dropdown-item" routerLink="/admin">Manage</a>
                <a class="dropdown-item" routerLink="/user/account">Account</a>
                <a class="dropdown-item btn btn-link" (click)="SignOutClick()">Log out</a>
            </div>
            <div *ngIf="!auth.IsLoggedIn()" class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <button class="dropdown-item btn btn-link" type="button" data-toggle="modal" data-target="#logModal"
                    (click)="SignInClick()" data-backdrop="static" data-keyboard="false">Log in</button>
                <button class="dropdown-item btn btn-link" type="button" data-toggle="modal" data-target="#logModal"
                    (click)="SignUpClick()" data-backdrop="static" data-keyboard="false">Register</button>
            </div>
        </div>
    </div>
</nav>

