<div class="form-froup row">
    <label class="col-sm-2 col-form-label">Health condition*</label>
    <div class="col-sm-10">
        <select class="form-control my-1" [(ngModel)]="health_condition_id">
            <option value="">--Select--</option>
            <option *ngFor="let item of conditionsList" [value]="item.id">{{item.health_condition}}</option>
        </select>
        <label class="form-label row error_label" *ngIf="isError()" style="color: red;">{{userHeathConditionErrors[0]}}</label>
    </div>
</div>

<button (click)="AddCondition()" class="btn btn-dark my-2">
    Add
</button>
