<div class="form-group row">

    <label class="col-sm-2 col-form-label">Category*</label>
    <div class="col-sm-10">
        <select class="form-control my-1" [(ngModel)]="training_category_id">
            <option value="">--Select--</option>
            <option *ngFor="let item of categoriesList" [value]="item.id">{{item.category}}</option>
        </select>
        <label class="form-label row error_label" *ngIf="isError(trainingErrors.training_category_id)"
            style="color: red;">{{trainingErrors.training_category_id[0]}}</label>
    </div>
    <label class="col-sm-2 col-form-label">Training*</label>
    <div class="col-sm-10">
        <input type="text" class="form-control my-1" [(ngModel)]="training"
        placeholder="Enter traning name">
        <label class="form-label row error_label" *ngIf="isError(trainingErrors.training)"
            style="color: red;">{{trainingErrors.training[0]}}</label>
    </div>
    <label class="col-sm-2 col-form-label">Description</label>
    <div class="col-sm-10">
        <label class="form-label row error_label" *ngIf="isError(trainingErrors.description)"
            style="color: red;">{{trainingErrors.description[0]}}</label>
        <textarea  class="form-control my-1" [(ngModel)]="description"
        placeholder="Enter description"></textarea>
    </div>
</div>

<button (click)="AddTraining()" *ngIf="Training.id==0" class="btn btn-dark">
    Add
</button>

<button (click)="UpdateTraining()" *ngIf="Training.id!=0" class="btn btn-dark">
    Update
</button>