<div class="form-froup row">
    <label class="col-sm-2 col-form-label">Grams*</label>
    <div class="col-sm-10">
        <input type="number" class="form-control  my-1" [(ngModel)]="grams" placeholder="Enter grams">
        <label class="form-label row error_label" *ngIf="isError(ingredientMicroErrors.grams)"
            style="color: red;">{{ingredientMicroErrors.grams[0]}}</label>
    </div>
</div>

<div class="form-froup row">
    <label class="col-sm-2 col-form-label">Micronutrient*</label>
    <div class="col-sm-10">
        <select class="form-control my-1" [(ngModel)]="microelement_id">
            <option value="">--Select--</option>
            <option *ngFor="let item of micronutrientsList" [value]="item.id">{{item.microelement}}</option>
        </select>
    <label class="form-label row error_label" *ngIf="isError(ingredientMicroErrors.microelement_id)"
        style="color: red;">{{ingredientMicroErrors.microelement_id[0]}}</label>
    </div>  
</div>

<button (click)="Addingredient()" class="btn btn-dark my-2" *ngIf="ingredientMicro.microelement_id == 0">
    Add
</button>

<button (click)="UpdateIngredient()" class="btn btn-dark my-2" *ngIf="ingredientMicro.microelement_id != 0">
    Update
</button>