<div class="container">

  <h3 class="d-flex justify-content-center">FitAppDev, Web API, SQL Server App Demo</h3>
  <h5 class="d-flex justify-content-center">Diet Category Portal</h5>

  <nav class="navbar navbar-expand-sm bg-light navbar-dark">
    <ul class="navbar-nav">
      <li class="nav-item">
        <button routerLink="Diet_Category"
        class="m-1 btn btn-light btn-outline-primary" Button>Diet Category</button>
      </li>

      
    </ul>

  </nav>






  <router-outlet></router-outlet>


</div>