<div class="form-group row" *ngIf="planDiet.id==0">
    <label class="col-sm-2 col-form-label">Diet*</label>
    <div class="col-sm-10">
        <select class="form-control" [(ngModel)]="diet_id">
            <option value="">--Select--</option>
            <option *ngFor="let diet of dietsList" [value]="diet.id">{{diet.diet}}</option>
        </select>
        <p class="form-label row error_label" *ngIf="isError(planDietErrors.diet_id)" style="color: red;">
            {{planDietErrors.diet_id[0]}}</p>
    </div>
</div>
<div class="form-group row" *ngIf="planDiet.id==0">
    <label class="col-sm-2 col-form-label">User*</label>
    <div class="col-sm-10">
        <select class="form-control" [(ngModel)]="app_user_id">
            <option value="">--Select--</option>
            <option *ngFor="let user of usersList" [value]="user.person_id">{{user.username}}</option>
        </select>
        <p class="form-label row error_label" *ngIf="isError(planDietErrors.app_user_id)" style="color: red;">
            {{planDietErrors.app_user_id[0]}}</p>
    </div>
</div>
<div class="form-group row">
    <label class="col-sm-2 col-form-label">Start date*</label>
    <div class="col-sm-10">
        <input type="date" class="form-control" [(ngModel)]="date_from" placeholder="Enter begining date">
        <p class="form-label row error_label" *ngIf="isError(planDietErrors.date_from)" style="color: red;">
            {{planDietErrors.date_from[0]}}</p>
    </div>
</div>

<button (click)="AddPlanDiet()" *ngIf="planDiet.id==0" class="btn btn-dark">
    Add
</button>

<button (click)="UpdatePlanDiet()" *ngIf="planDiet.id!=0" class="btn btn-dark">
    Update
</button>