<div class="form-group row">

    <label class="col-sm-2 col-form-label">Category*</label>
    <div class="col-sm-10">
        <select class="form-control my-1" [(ngModel)]="exercise_category_id">
            <option value="">--Select--</option>
            <option *ngFor="let item of categoriesList" [value]="item.id">
                {{item.category}}
            </option>
        </select>
        <p class="form-label row error_label" *ngIf="isError(excerciseErrors.exercise_category_id)" 
        style="color: red;">{{excerciseErrors.exercise_category_id[0]}}</p>
    </div>

    <label class="col-sm-2 col-form-label">Excercise*</label>
    <div class="col-sm-10">
        <input type="text" class="form-control my-1" [(ngModel)]="exercise"
        placeholder="Enter exercise name">
        <p class="form-label row error_label" *ngIf="isError(excerciseErrors.exercise)"
        style="color: red;">{{excerciseErrors.exercise[0]}}</p>
    </div>

    <label class="col-sm-2 col-form-label">Duration*</label>
    <div class="col-sm-10">
        <input type="text" class="form-control my-1" [(ngModel)]="duration"
        placeholder="Enter duration">
        <p class="form-label row error_label" *ngIf="isError(excerciseErrors.duration)" style="color: red;">
            {{excerciseErrors.duration[0]}}</p>
        </div>

    <label class="col-sm-2 col-form-label">Description*</label>
    <div class="col-sm-10">
        <input type="text" class="form-control my-1" [(ngModel)]="description"
        placeholder="Enter description">
        <p class="form-label row error_label" *ngIf="isError(excerciseErrors.description)" style="color: red;">
            {{excerciseErrors.description[0]}}</p>
    </div>
</div>

<button (click)="AddExercise()" *ngIf="Exercise.id==0" class="btn btn-dark">
    Add
</button>

<button (click)="UpdateExercise()" *ngIf="Exercise.id!=0" class="btn btn-dark">
    Update
</button>