<div class="form-froup row">
    <label class="col-sm-2 col-form-label">Body part</label>
    <div class="col-sm-10">
        <select class="form-control" [(ngModel)]="body_part_id">
            <option value="">--Select--</option>
            <option *ngFor="let dataItem of bodyPartList" [value]="dataItem.id">{{dataItem.body_part}}</option>
        </select>
        <p class="form-label row error_label" *ngIf="isError()" style="color: red;">{{bpExerciseErrors[0]}}</p>
    </div>
</div>

<button (click)="AddBodyPartExercise()" class="btn btn-dark">
    Add
</button>