<div class="mainDiv">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="">Home</a></li>
            <li class="breadcrumb-item"><a routerLink="/admin">Admin</a></li>
            <li class="breadcrumb-item"><a routerLink="/admin/exercises">Exercises</a></li>
            <li class="breadcrumb-item active" aria-current="page">Body parts</li>
        </ol>
    </nav>
    <hr />
    <app-show-body-part-exercise [id]="id"></app-show-body-part-exercise>
</div>