<div class="form-froup row">
    <label class="col-sm-2 col-form-label">Name*</label>
    <div class="col-sm-10">
        <input type="text" class="form-control  my-1" [(ngModel)]="name" placeholder="Enter person name">
        <label class="form-label row error_label" *ngIf="isError(auth.registerError.name)"
            style="color: red;">{{auth.registerError.name[0]}}</label>
    </div>
</div>
<div class="form-froup row">
    <label class="col-sm-2 col-form-label">Surname*</label>
    <div class="col-sm-10">
        <input type="text" class="form-control my-1" [(ngModel)]="surname" placeholder="Enter person surname">
        <label class="form-label row error_label" *ngIf="isError(auth.registerError.surname)"
            style="color: red;">{{auth.registerError.surname[0]}}</label>
    </div>
</div>

<div class="form-froup row">
    <label class="col-sm-2 col-form-label">Birth date*</label>
    <div class="col-sm-10">
        <input type="date" class="form-control my-1" [(ngModel)]="birth_date" placeholder="yyyy-mm-dd">
        <label class="form-label row error_label" *ngIf="isError(auth.registerError.birth_date)"
            style="color: red;">{{auth.registerError.birth_date[0]}}</label>
    </div>
    <label class="col-sm-2 col-form-label">Sex*</label>
    <div class="col-sm-10">
        <select class="form-control my-1" [(ngModel)]="sex">
            <option value="">--Select--</option>
            <option>M</option>
            <option>F</option>
        </select>
        <label class="form-label row error_label" *ngIf="isError(auth.registerError.sex)"
            style="color: red;">{{auth.registerError.sex[0]}}</label>
    </div>
</div>

<div class="form-froup row">
    <label class="col-sm-2 col-form-label">Email*</label>
    <div class="col-sm-10">
        <input type="email" class="form-control my-1" [(ngModel)]="email" placeholder="Enter email address">
        <label class="form-label row error_label" *ngIf="isError(auth.registerError.email)"
            style="color: red;">{{auth.registerError.email[0]}}</label>
    </div>
</div>

<div class="form-froup row">
    <label class="col-sm-2 col-form-label">Phone</label>
    <div class="col-sm-10">
        <input type="tel" class="form-control my-1" [(ngModel)]="phone" placeholder="Enter phone number">
        <label class="form-label row error_label" *ngIf="isError(auth.registerError.phone)"
            style="color: red;">{{auth.registerError.phone[0]}}</label>
    </div>
</div>

<br />

<div class="form-froup row">
    <label class="col-sm-2 col-form-label">Password*</label>
    <div class="col-sm-10">
        <input type="password" class="form-control  my-1" [(ngModel)]="password" placeholder="Enter password">
        <label class="form-label row error_label" *ngIf="isError(auth.registerError.password)"
            style="color: red;">{{auth.registerError.password[0]}}</label>
        <label class="form-label row error_label" *ngIf="isError(repeatPassError)"
            style="color: red;">{{repeatPassError[0]}}</label>
        <input type="password" class="form-control  my-1" [(ngModel)]="repeatPass"
            placeholder="Please repeat the password">
        <label class="form-label row error_label" *ngIf="isError(repeatPassError)"
            style="color: red;">{{repeatPassError[0]}}</label>
    </div>
</div>

<button (click)="SignUp()" class="btn btn-dark m-2">
    Register
</button>