<div class="form-group row">
    <label class="col-sm-2 col-form-label">Diet*</label>
    <div class="col-sm-10">
        <input type="text" class="form-control  my-1" [(ngModel)]="diet" placeholder="Enter diet name">
        <p class="form-label row error_label" *ngIf="isError(dietErrors.diet)" 
        style="color: red;">{{dietErrors.diet[0]}}</p>
    </div>
</div>

<div class="form-group row">
    <label class="col-sm-2 col-form-label">Category*</label>
    <div class="col-sm-10">
        <select class="form-control my-1" [(ngModel)]="diet_category_id" >
            <option value="">--Select--</option>
            <option *ngFor="let item of dietCategoryList" [value]="item.id">
                {{item.category}}
            </option>
        </select>
        <p class="form-label row error_label" *ngIf="isError(dietErrors.diet_category_id)" 
        style="color: red;">{{dietErrors.diet_category_id[0]}}</p>
    </div>
</div>

<div class="form-group row">
    <label class="col-sm-2 col-form-label">Description</label>
    <div class="col-sm-10">
        <textarea class="form-control  my-1" [(ngModel)]="description" placeholder="Enter diet description"></textarea>
        <p class="form-label row error_label" *ngIf="isError(dietErrors.description)" 
        style="color: red;">{{dietErrors.description[0]}}</p>
    </div>
</div>

<button (click)="AddDiet()" class="btn btn-dark my-2" *ngIf="dietData.id == 0">
    Add
</button>

<button (click)="UpdateDiet()" class="btn btn-dark my-2" *ngIf="dietData.id != 0">
    Update
</button>
