
<!-- Modal -->
<div class="modal fade" id="contusionModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{modalTitle}}</h5>
                <button type="button" class="close" id="modalDismissProfileContusion" data-dismiss="modal" aria-label="Close" (click)="CloseClick()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <app-add-edit-usr-contusion [contusion]="contusion" *ngIf="activateAddEditContusion"
                (successForm)="SuccessForm($event)"></app-add-edit-usr-contusion>
            </div>
        </div>
    </div>
</div>


<table class="table table-striped">
    <thead class="table-dark">
        <tr>
            <td>
                <button type="button" class="btn btn-dark float_left" data-toggle="collapse" data-target="#tab-contusions">
                    My contusions
                </button>
            </td>
            <td>
                <button type="button" class="btn btn-dark float_left">
                    Contusion date
                </button> 
            </td>
            <td>
                <button type="button" class="btn btn-dark float_left" data-toggle="modal" data-target="#contusionModal"
                    (click)="AddClick()" data-backdrop="static" data-keyboard="false">
                    Add Contusion
                </button>
            </td>
        </tr>
    </thead>
    <tbody id="tab-contusions" class="collapse show">
        <tr *ngFor="let contusion of dataList">
            <td>{{GetContusionName(contusion)}} - {{GetBodyPartName(contusion)}}</td>
            <td>{{GetDate(contusion.contusion_date)}}</td>
            <td>
                <button type="button" class="btn btn-light mr-1" data-toggle="modal" data-target="#contusionModal"
                    (click)="EditClick(contusion)" data-backdrop="static" data-keyboard="false">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-pencil-fill" viewBox="0 0 16 16">
                        <path
                            d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z" />
                    </svg>
                </button>

                <button type="button" class="btn btn-light mr-1" (click)="DeleteClick(contusion)" data-backdrop="static"
                    data-keyboard="false">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-x-circle-fill" viewBox="0 0 16 16">
                        <path
                            d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z" />
                    </svg>
                </button>
            </td>
        </tr>
    </tbody>
</table>
