<div class="form-froup row">
    <label class="col-sm-2 col-form-label">Start date</label>
    <div class="col-sm-10">
        <input type="date" class="form-control" [(ngModel)]="date_from" placeholder="Enter begining date">
        <p class="form-label row error_label" *ngIf="isError()" style="color: red;">{{addDietError[0]}}</p>
    </div>
</div>

<button (click)="AddPlanDiet()" *ngIf="planDiet.id==0" class="btn btn-dark">
    Add
</button>