
<div class="form-group row">
    <label class="col-sm-2 col-form-label m-1">Authorization*</label>
    <div class="col-sm-9">
        <input type="text" class="form-control  my-1" [(ngModel)]="authorization" placeholder="Enter new authorization">
        <p class="form-label row error_label" *ngIf="isError()" style="color: red;">{{authorizationErrorList[0]}}</p>
    </div>
</div>

<button (click)="AddAuth()" class="btn btn-dark my-2">
    Add
</button>
