<div class="form-group row">
    <label class="col-sm-2 col-form-label">Allergic to*</label>
    <div class="col-sm-10">
        <select class="form-control my-1" [(ngModel)]="ingredient_id">
            <option value="">--Select--</option>
            <option *ngFor="let item of ingredientsList" [value]="item.id">{{item.ingredient}}</option>
        </select>
        <label class="form-label row error_label" *ngIf="isError()"
            style="color: red;">{{allergiesErrors[0]}}</label>
    </div>
</div>

<button (click)="AddAllergy()" class="btn btn-dark my-2">
    Add
</button>
